.intro-inner .intro-content .profile-img {
	width: 160px;
	height: 160px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	border: 10px solid #fff;
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.61);
	        box-shadow: 0 0 20px rgba(0, 0, 0, 0.61);
	position: relative;
	z-index: 9;
}

.intro-inner .intro-content .profile-img:focus {
	outline: none;
}

.intro-inner .intro-content .profile-img img:focus {
	outline: none;
}

.intro-inner .intro-content .profile-img img {
	max-width: 100%;
	cursor: pointer;
}